* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-color: black;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

main {
    margin-top: 120px;
}

.active_inidcator {
    justify-content: center;
    display: flex;
}

.active_inidcator * {
    margin: 10px;
}

#clock {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#timer {
    margin: 0;
    position: relative;
    top: 39%;
    left: 29.5%;
}

button {
    background-color: #0d11e3;
    border: none;
    position: relative;
    top: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
}

.timeSelection {
    text-align: center;
    margin-top: 150px;
}

.timeSelection input {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.timeSelection label {
    margin-top: 20px;
    margin-bottom: 3px;
}